<div class="view-header">
    <h1>Create a New Costume!</h1>
</div>

<div id="actor-link">
    <% if @costume.actor_id %>

        <%= link_to 'Back to Actor page', actor_path(@costume.actor) %>
    
    <% end %>
</div>

<%= render 'form' %>