<% if user_signed_in? %>
    <div id="home">
        <h1 id="welcome-statement">Hi, <%= @user.name %>, Welcome to Your Costume Room!</h1>
        <p id="instructions">Use the links at the top of the page to navigate the site.</p>
    </div>

<% else %>
  <div id="home">
    <h1 id="welcome-statement">Welcome to the Costume Room!</h1>
    <p id="instructions">Sign up or Log in to use this application</p>
  </div>

<% end %>